In [0]:
# count number of days in each month, including how many of each day (Sun, Mon, ...), then save as a csv file


import datetime
from time import strftime

# create dataframe with day of week in text
day0 = datetime.datetime(2013,1,1)
ndays = (datetime.datetime(2015,12,1)-day0).days # = 1064
daynum = list(range(ndays))


delta = day0
month_count = 0
year = [delta.year]
month = [month_count]
month_of_year = [delta.month]
day_of_month = [delta.day]
day_of_week = [delta.strftime('%A')]

for d in daynum[1:]:
    delta = day0 + datetime.timedelta(days=d)
    year.append(delta.year)
    if delta.month != month_of_year[-1]:
        month_count += 1
    month.append(month_count)
    month_of_year.append(delta.month)
    day_of_month.append(delta.day)
    day_of_week.append(delta.strftime('%A'))

days = pd.DataFrame({'year':year,'month_of_year':month_of_year,'month':month,'day':daynum,'day_of_month':day_of_month,'day_of_week':day_of_week})   

print(days.shape)
print(days.head(),'\n')
print(days.tail(),'\n\n')

days_by_month = days.copy(deep=True)
for dayname in ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']:
    days_by_month[dayname+'s_in_month'] = days_by_month.day_of_week.apply(lambda x: 1 if x == dayname else 0)
days_by_month = days_by_month.groupby('month').agg({'year':'mean', 'month_of_year':'mean', 'day':'count',
                                      'Sundays_in_month':'sum', 'Mondays_in_month':'sum', 'Tuesdays_in_month':'sum', 
                                      'Wednesdays_in_month':'sum', 'Thursdays_in_month':'sum', 'Fridays_in_month':'sum', 
                                      'Saturdays_in_month':'sum'}).reset_index().rename(columns={'day':'days_in_month'})
print(days_by_month.shape)
print(days_by_month.head(),'\n')
print(days_by_month.tail())

GDRIVE_REPO_PATH = "/content/drive/My Drive/Colab Notebooks/NRUHSE_2_Kaggle_Coursera/final/Kag"
%cd "{GDRIVE_REPO_PATH}"

days_by_month.to_csv("data_output/days_by_month.csv", index=False)

(1064, 6)
   year  month_of_year  month  day  day_of_month day_of_week
0  2013              1      0    0             1     Tuesday
1  2013              1      0    1             2   Wednesday
2  2013              1      0    2             3    Thursday
3  2013              1      0    3             4      Friday
4  2013              1      0    4             5    Saturday

      year  month_of_year  month   day  day_of_month day_of_week
1059  2015             11     34  1059            26    Thursday
1060  2015             11     34  1060            27      Friday
1061  2015             11     34  1061            28    Saturday
1062  2015             11     34  1062            29      Sunday
1063  2015             11     34  1063            30      Monday


(35, 11)
   month  year  month_of_year  days_in_month  Sundays_in_month  Mondays_in_month  Tuesdays_in_month  Wednesdays_in_month  Thursdays_in_month  Fridays_in_month  Saturdays_in_month
0      0  2013              1             31                 4                 4                  5                    5                   5                 4                   4
1      1  2013              2             28                 4                 4                  4                    4                   4                 4                   4
2      2  2013              3             31                 5                 4                  4                    4                   4                 5                   5
3      3  2013              4             30                 4                 5                  5                    4                   4                 4                   4
4      4  2013              5             31                 4                 4                  4                    5                   5                 5                   4

    month  year  month_of_year  days_in_month  Sundays_in_month  Mondays_in_month  Tuesdays_in_month  Wednesdays_in_month  Thursdays_in_month  Fridays_in_month  Saturdays_in_month
30     30  2015              7             31                 4                 4                  4                    5                   5                 5                   4
31     31  2015              8             31                 5                 5                  4                    4                   4                 4                   5
32     32  2015              9             30                 4                 4                  5                    5                   4                 4                   4
33     33  2015             10             31                 4                 4                  4                    4                   5                 5                   5
34     34  2015             11             30                 5                 5                  4                    4                   4                 4                   4